body {
    background-color: #414141;
    color: white;
    text-align: left;
    font-family: Fantasy;
    font-weight: 90;
    overflow-x: hidden;
}

article {
    float: right;
    height: auto;
    width: 87%;
}

#our-services {
    display: none;
}

.main-title {
    font-size: 50px;
    margin-left: 50px;
    margin-top: 20px;
    text-shadow: 0px 0px 15px #343434;
}

.slideshow-container {
  max-width: 20000px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}

.small-note {
    font-family: math;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 42%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px #343434;
}

.crossed-area {
    background: repeating-linear-gradient(
        -45deg,
        #414141,
        #515151 3px,
        #414141 3px,
        #414141 6px
    );
    vertical-align: center;
    display: flex;
    height: 13%;
    width: auto;
    padding-top: 20px;
}

.flex-row {
    display: flex;
    margin-left: 10px;
    vertical-align: center;
    width: 33%;
}

.footer-note {
    font-size: 25px;
    margin-left: 50px;
    text-shadow: 0px 0px 15px #343434;
}

.vertical-panel {
    display: inline-block;
    width: 30%;
    margin-left: 50px;
    margin-top: 20px;
    border: 0px solid #ffffff;
    vertical-align: top;
}

.services-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
