
#our-services {
    display: none;
}

.main-title {
    font-size: 50px;
    margin-top: 20px;
    text-shadow: 0px 0px 15px #343434;
}

.small-note {
    font-family: math;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px #343434;
}

.crossed-area {
    background: repeating-linear-gradient(
        -45deg,
        #414141,
        #515151 3px,
        #414141 3px,
        #414141 6px
    );
    vertical-align: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-row {
    display: flex;
    margin-left: 10px;
    vertical-align: center;
}

.footer-note {
    font-size: 25px;
    text-shadow: 0px 0px 15px #343434;
}

.vertical-panel {
    display: inline-block;
    width: 30%;
    margin-top: 20px;
    border: 0px solid #ffffff;
    vertical-align: top;
}

.services-list {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
}
