
/* Slideshow container */

.mySlides {
    display: inline-block;
    margin-right: 20px;
}

.myPartialSlides {
    display: inline-block;
    width: 50px;
}

.gallery-picture {
    height: 42%;
    border-radius: 3%;
    box-shadow: 0px 0px 7px #000000;
}

.partial-gallery-picture {
    height: 42%;
    border-radius: 3%;
    box-shadow: 0px 0px 7px #000000;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  margin-top: -22px;
  margin-left: 10px;
  padding: 17px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Position the "next button" to the right */
.next {
  left: 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ffffff;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}