
@media only screen and (max-width: 600px) {
    header {
        display: block;
        width: 100% !important;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    #header-title {
        font-family: math;
        font-size: 12px;
        display: inline-block;
        text-align: center;
        vertical-align: center;
    }

    #header-text {
        display: none;
    }

    #menu {
        display: inline-block;
        margin-left: 25px;
        margin-top: 5px;
    }
    #menu-title {
        display: none;
    }
    #menu-list {
        line-height: 15px;
    }

    main {
        display: block;
    }

    .heading-layout {
        display: flex;
        padding: 20px;
        padding-top: 0px;
        border-bottom: 1px solid #818181;
        padding-bottom: 0px;
    }

    article {
        display: block;
        width: auto;
    }

    #menu-list li {
        display: inline;
    }

    #contact-list {
        list-style-type: none;
    }
    #contacts-section {
        line-height: 12px;
        vertical-align: top;
    }
    .menu-option {
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
        height: 15px;
        text-align: center;
    }
    .contact-option {
        display: flex;
        margin-right: 20px;
        font-size: 10px;
    }
    .contact-type {
        font-size: 10px;
    }
    .contact-name {
        margin-left: 5px;
        font-size: 10px;
        display: inline-block;
    }
    #contacts-section {
        padding-top: 0px;
        margin-top: 0px;
        display: flex;
    }

    .main-title {
        font-size: 30px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .slideshow-container {
      max-height: 230px;
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 5px;
      overflow-x: hidden;
      padding: 10px;
    }

    .gallery-picture {
        width: 100%;
        height: auto;
    }
    .myPartialSlides .partial-gallery-picture {
        display: none;
    }
    .myPartialSlides .text {
        display: none;
    }
    .myPartialSlides .numbertext{
        display: none;
    }

    .mySlides {
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .numbertext {
      color: #f2f2f2;
      font-size: 15px;
      padding: 15px 15px;
      position: absolute;
      z-index: 1;
      text-shadow: 0px 0px 15px #000000;
    }
    .text {
      color: #f2f2f2;
      font-size: 14px;
      padding: 20px 137%;
      position: absolute;
      bottom: 8px;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      text-shadow: 0px 0px 15px #000000;
    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 70%;
      width: auto;
      margin-top: -22px;
      margin-left: 10px;
      padding: 13px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 3px;
      user-select: none;
      background-color: rgba(255, 255, 255, 0.7);
    }

    /* Position the "next button" to the right */
    .next {
      left: 50px;
    }

    .footer-note {
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .small-note {
        padding: 5px;
        font-size: 9px;
        border-radius: 5px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
    }

    .crossed-area {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
    }

    .total-numbers {
        color: #dea152;
        font-weight: 100;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 0px;
    }

    .total-text {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 7px;
        text-align: left;
        line-height: 8px;
        width: auto;
        margin-top: 0px;
    }
    .crossed-wrapper {
        display: flex;
    }
    .flex-row {
        padding-bottom: 10px;
        width: auto;
    }
    .vertical-panel {
        display: block;
        width: 95%;
        margin-left: 10px;
        margin-top: 5px;
        vertical-align: top;
    }

    .services-list {
        list-style-type: none;
        margin-top: 5px;
        padding: 0;
    }

    .service-option {
        font-size: 12px;
        margin-top: 4px;
    }
    .service-description {
        padding: 0 5px;
        font-size: 9px;
    }

    .service-text {
        display: none;
    }

    .services-inner-layout {
        display: block;
    }

    .service-picture {
        width: 100%;
        height: auto;
    }

    #spic-1 {
        display: none;
    }
    #spic-2 {
        display: none;
    }
    #spic-3 {
        display: none;
    }
    #spic-4 {
        display: none;
    }
    #spic-5 {
        display: none;
    }
    #spic-6 {
        display: none;
    }
    #spic-7 {
        display: none;
    }
}
