
@media only screen and (max-width: 600px) {
    header {
        display: block;
        width: 100% !important;
    }

    main {
        display: block;
    }

    .heading-layout {
        display: block;
        padding: 20px;
        border-bottom: 1px solid #818181;
    }

    article {
        display: block;
        width: auto;
    }

    #menu-list li {
        display: inline;
    }
    #contact-list li {
        display: inline;
    }

    .menu-option {
        display: inline-block;
        margin-right: 15px;
    }
    .contact-option {
        display: inline-block;
        margin-right: 20px;
    }
    .contact-name {
        margin-left: 0px;
    }
    #contacts-section {
        padding-top: 10px;
        margin-top: 0px;
    }

    .main-title {
        font-size: 50px;
        margin-left: 35px;
        margin-top: 10px;
    }

    .slideshow-container {
      max-height: 230px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      overflow-x: hidden;
      padding: 10px;
    }

    .gallery-picture {
        height: 22%;
    }
    .myPartialSlides .partial-gallery-picture {
        display: none;
    }
    .myPartialSlides .text {
        display: none;
    }
    .myPartialSlides .numbertext{
        display: none;
    }

    .mySlides {
        display: block;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .numbertext {
      color: #f2f2f2;
      font-size: 15px;
      padding: 15px 15px;
      position: absolute;
      z-index: 1;
      text-shadow: 0px 0px 15px #000000;
    }
    .text {
      color: #f2f2f2;
      font-size: 18px;
      padding: 20px 290px;
      position: absolute;
      bottom: 8px;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      text-shadow: 0px 0px 15px #000000;
    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 70%;
      width: auto;
      margin-top: -22px;
      margin-left: 10px;
      padding: 13px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 3px;
      user-select: none;
      background-color: rgba(255, 255, 255, 0.7);
    }

    /* Position the "next button" to the right */
    .next {
      left: 50px;
    }

}
