/* TABLE STYLE */
#main-layout-table {
    background-color: #414141;
    color: white;
    text-align: left;
    height: 100%;
    width: 100%;
    font-family: Fantasy;
    font-weight: 90;
}

.crossed-area {
    background: repeating-linear-gradient(
        -45deg,
        #414141,
        #515151 3px,
        #414141 3px,
        #414141 6px
    );
    vertical-align: center;
}

/* TITLES */
#header-title {
    font-family: math;
    font-size: 20px;
    display: flex;
}

#main-title {
    font-size: 50px;
    margin-left: 50px;
}

/* TOTALS AREA */
.total-numbers {
    color: #dea152;
    font-weight: 100;
    font-size: 60px;
    margin-left: 40px;
    font-family: Fantasy;
}

.total-text {
    font-family: Fantasy;
    margin-left: 20px;
    font-size: 25px;
    text-align: left;
    line-height: 28px;
    margin-top: 8px;
}

.flex-row {
    display: flex;
    margin-left: 10px;
}

/* MENU IN HEADER */
#menu-list {
    list-style: none;
    padding-left: 0;
    margin-left: 15px;
    font-size: 20px;
    line-height: 25px;
}

#menu-title {
    font-size: 15px;
    margin-left: 15px;
    font-family: math;
    font-weight: 900;
}

.menu-item {
    font-weight: 50;
}

/* SMALL NOTES */
.footer-note {
    font-size: 25px;
    margin-left: 50px;
}

.small-note {
    font-family: math;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    margin-left: 50px;
}

