/* TABLE STYLE */
#main-layout-table {
    background-color: #414141;
    color: white;
    text-align: left;
    height: 100%;
    width: 100%;
    font-family: Fantasy;
    font-weight: 90;
}

.crossed-area {
    background: repeating-linear-gradient(
        -45deg,
        #414141,
        #515151 3px,
        #414141 3px,
        #414141 6px
    );
    vertical-align: center;
}

/* TITLES */
#header-title {
    font-family: math;
    font-size: 20px;
    display: flex;
    margin-left: 15px;
    text-align: center;
    vertical-align: center;
}

#header-text {
    margin-top: 5px;
    margin-left: 10px;
}

#main-title {
    font-size: 50px;
    margin-left: 50px;
}

/* TOTALS AREA */
.total-numbers {
    color: #dea152;
    font-weight: 100;
    font-size: 60px;
    margin-left: 40px;
    font-family: Fantasy;
}

.total-text {
    font-family: Fantasy;
    margin-left: 20px;
    font-size: 25px;
    text-align: left;
    line-height: 28px;
    margin-top: 8px;
}

.flex-row {
    display: flex;
    margin-left: 10px;
}

/* MENU IN HEADER */
#menu-list {
    list-style: none;
    padding-left: 0;
    margin-left: 15px;
    font-size: 20px;
    line-height: 25px;
}

#menu-title {
    font-size: 15px;
    margin-left: 15px;
    font-family: math;
    font-weight: 900;
}

.menu-item {
    font-weight: 50;
}

/* SMALL NOTES */
.footer-note {
    font-size: 25px;
    margin-left: 50px;
}

.small-note {
    font-family: math;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 42%;
    margin-left: 50px;
}

/* GALLERY */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

.slides-gallery {
    text-align: center;
}

.gallery-picture {

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}